
global
    ssl-default-bind-options ssl-min-ver TLSv1.2

defaults
    mode http
    timeout connect 5s
    timeout client 2m
    timeout server 15m
    option http-server-close
    option forwardfor except 127.0.0.0/8
    option redispatch
    option httplog
    default-server init-addr last,libc,none
    retries 3
    maxconn 4000

frontend directumrx
    bind 0.0.0.0:80
    http-request set-header X-Forwarded-Host %[req.hdr(host)]
    http-request redirect code 301 prefix /Client if { path / }
    use_backend storageservice_backend if { path_beg -i /Storage }
    use_backend stickysession-backend if { path_beg -i /Centrifugo }
    use_backend stickysession-backend if { path_beg -i /Client/api/deploy }
    default_backend rx-nodes

backend storageservice_backend
    server storageservice_server {{ groups['storage'][0] }}:80

backend rx-nodes
    balance roundrobin
    server node01 {{ groups['webapp1'][0] }}:80
    server node02 {{ groups['webapp2'][0] }}:80

backend stickysession-backend
    balance roundrobin
    cookie SRVNAME insert
    server node01 {{ groups['webapp1'][0] }}:80 cookie node01
    server node02 {{ groups['webapp2'][0] }}:80 cookie node02
